<div class="w-full lg:w-4/5 mx-auto">
    <div class="flex justify-center py-12">
        <h1 class="text-4xl font-bold uppercase">crear declaración</h1>
    </div>
    <div class="max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-lg border-2 border-blue-800">
        <app-interviewee [formGroup]="intervieweeForm"></app-interviewee>
        <app-interview-development [formGroup]="interviewDevelopmentForm"></app-interview-development>

        <!-- Botón para Enviar Formulario -->
        <button (click)="onSubmit()"
            class="w-full bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded-md mt-4 transition-colors">
            GUARDAR ENTREVISTA
        </button>
    </div>
</div>