<main class="p-4">
    <h1 class="text-2xl font-bold mb-4">Últimas Noticias</h1>
    @if (isLoading) {
    <div class="flex justify-around flex-wrap">
        @for (cards of placeholders; track $index) {
        <div class="w-full max-w-sm rounded overflow-hidden shadow-lg m-4 animate-pulse">
            <div class="w-full h-64 bg-gray-300"></div>
            <div class="px-6 py-4">
                <div class="h-6 bg-gray-300 rounded mb-4"></div>
                <div class="h-4 bg-gray-300 rounded w-3/4"></div>
            </div>
            <div class="px-6 pt-4 pb-2">
                <div class="h-10 bg-gray-300 rounded w-32"></div>
            </div>
        </div>
        }
    </div>
    } @else {
    @if (error) {
    {{error}}
    }
    @else {
    @if (data) {
    <div class="flex flex-wrap justify-around">
        @for (noticia of data; track $index) {
        <div class="max-w-sm rounded overflow-hidden shadow-lg m-4">
            <img class="w-full h-64 object-cover" [src]="noticia.imgUrl" alt="{{ noticia.title }}">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ noticia.title }}</div>
                <p class="text-gray-700 text-base">{{ noticia.description }}</p>
            </div>
            <div class="px-6 pt-4 pb-2">
                <a href="{{ noticia.link }}" target="_blank"
                    class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Leer
                    más</a>
                <!-- Botón para mostrar/ocultar el input de comentario -->
                <br><button (click)="toggleCommentInput($index)"
                    class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-2">
                    Agregar Comentario
                </button>
                <!-- Input de comentario -->
                @if (showCommentInput === $index) {
                <div class="mt-2">
                    <input type="text" [(ngModel)]="newComment" placeholder="Escribe tu comentario..."
                        class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <button (click)="addComment($index)"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2">
                        Enviar
                    </button>
                </div>
                }
                <!-- Mostrar comentarios existentes -->
                @if (noticia.comments && noticia.comments.length > 0) {
                <div class="mt-4">
                    <h3 class="font-bold mb-2">Comentarios:</h3>
                    @for (comment of noticia.comments; track $index) {
                    <div class="comment-container bg-gray-100 p-3 rounded-lg mb-2">
                        <p class="text-gray-700">{{ comment }}</p>
                    </div>
                    }
                </div>
                }
            </div>
        </div>
        } @empty {
        <p class="text-center text-gray-500 text-2xl">No se encontraron noticias para mostrar.</p>
        }
    </div>
    }
    }
    }
</main>