<header class="flex justify-between p-8 font-bold">
    <a routerLink="/dashboard" class="hover:text-gray-500">Crime Reporter</a>

    <div class="flex gap-7">
        @if(authService.isAuthenticated()){

        <a routerLink="/configuraciones" class="hover:text-gray-500">Configuraciones</a>
        @if(authService.isAdmin()){
        <a class="hover:text-white hover:bg-blue-police py-4 px-2" routerLink="/register">Register</a>
        }
        <button class="py-4 px-2 rounded-md bg-red-600 hover:bg-red-700 text-white" (click)="authService.logout()">
            Cerrar sesión
        </button>
        }
        @if(!authService.isAuthenticated()){
        <a class="py-2 px-3 rounded-md bg-blue-600 hover:bg-blue-700 text-white" routerLink="/login">Iniciar sesion</a>
        }
    </div>
</header>
