<div class="dashboard-container">
  <div class="flex justify-center py-12">
    <h1 class="text-4xl font-bold uppercase">Herramientas</h1>
  </div>
  <div class="button-grid bg-white p-12 rounded-lg">
    <a routerLink="/ocr" class="tool-button">
      <span class="tool-label">Reconocimiento Óptico de Caracteres</span>
      <img src="ocr.png" alt="ocr" class="tool-icon" />
    </a>
    <a routerLink="/news" class="tool-button">
      <span class="tool-label">Noticias</span>
      <img src="news.png" alt="news" class="tool-icon" />
    </a>
    <a routerLink="/report" class="tool-button">
      <span class="tool-label">Reporte policial</span>
      <img src="notes.png" alt="report" class="tool-icon" />
    </a>
    <a routerLink="/map" class="tool-button">
      <span class="tool-label">Mapa</span>
      <img src="maps.png" alt="maps" class="tool-icon" />
    </a>
    <a routerLink="/configuraciones" class="tool-button">
      <span class="tool-label">Configuraciones</span>
      <img src="setting.png" alt="maps" class="tool-icon" />
    </a>
    <a routerLink="/entrevista_de_campo" class="tool-button">
      <span class="tool-label">Entrevista de campo</span>
      <img src="notes.png" alt="report" class="tool-icon" />
    </a>
  </div>
</div>