.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .dashboard-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 70px;
    text-align: center;
  }
  
  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    width: 100%; /* Asegura que ocupe el ancho completo */
    max-width: 800px; /* Ancho máximo para evitar estiramiento excesivo */
  }
  
  .tool-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1d294d; /* Azul oscuro */
    color: #fefefe;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
    width: 150px; /* Ancho fijo */
    height: 150px; /* Alto fijo */
  }
  
  .tool-button:hover {
    background-color: #2a365a; /* Azul más claro */
    transform: scale(1.05);
  }
  
  .tool-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  
  .tool-label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
  